<!-- Places details page -->

<h1><%= @place["name"] %></h1>

<ul>
  <% for post in @posts %>
  <!-- I think I need an if statement below but trying for now without? -->
      <li>
        <%= post["title"]%>
        <%= post["posted_on"]%>
        <%= post["description"]%>
      </li>
  <% end %>
</ul> 

<p>
<a href="/posts/new">New Post</a>
</p>